<%= simple_form_for @team, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset> 
    <%= f.input :name %>
    <%= f.association :conference %>
    <%= f.input :nickname %>
    <%= f.input :shortname %>
    <%= f.input :street %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>
	<div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', conferences_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>