<% title "Friendships" %>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Name</th>
    <th class="actions">Actions</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= link_to user.email, edit_user_path(user)  %></td>     
	  <td>
         <% if current_user.friend_with? user = user.id %>
        You are already friends!

        <%= link_to "Confirm friend?", friend_path(user), :method => "put" %>
      <% else %>
        <%= link_to "Add friend?", friends_path(:user_id => user), :method => "post" %>
      <% end %>  
      </td>    
         
          </td>
		
    </tr>
  <% end %>
</table>






<ul class="thumbnails">
	<% for user in @users %>
	<li class="span6">
		<div class="thumbnail">
			<%= image_tag user.avatar_url(:thumb).to_s, :class => 'pull-left' %>
			<div class="caption">
				<h5><%= user.email %></h5>
				<p>User bio might appear here, or school and "year", score?</p>
				<p>
					<% if current_user.friend_with? user %> 
			        You are already friends! 
			        <%= link_to friend_path(user), :method => :delete, :class =>'btn' do %>
						<i class="icon-remove-sign"></i>
						Unfriend
					<% end %> 
			      <% elsif current_user.invited? user %>
			      	<div class="btn-group">
				        <%= link_to '', :class =>'btn disabled' do %>
							<i class="icon-plus-sign"></i>
							Pending
						<% end %>
						<%= link_to friend_path(user), :method => :delete, :class =>'btn btn-mini' do %>
							<i class="icon-remove-sign"></i>
							Cancel
						<% end %> 
					</div>
			      <% elsif user.invited? current_user %>
			        <%= link_to "Confirm friend?", friend_path(user), :method => "put" %>
			      <% else %>
			        <%= link_to friend_path(user), :method => :post, :class =>'btn' do %>
						<i class="icon-plus-sign"></i>
						Friend
					<% end %>
			      <% end %>
				</p>
			</div>
		</div>
	</li>
	<% end %>
</ul>

      
      
      
      
      
      
      
      
      